{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-2">ha</div>
        <div class="col-sm-8">
            <div class="home-banner">
                <p>Надоели современные телефоны на iOS и Android?</p>
                <p>Устали заряжать телефон по 2 раза в день?</p>
                <p>Телефон не помещается в карман?</p>
                <p>Тогда вы зашли по адресу!</p>
            </div>
        </div>
        <div class="col-sm-2">ho</div>
    </div>
    <p class="home-slogan">
        Здесь вы можете найти и купить новые телефоны из прошлого!<br>
        Выделись из толпы и купи модный раритетный телефон уже сейчас!
    </p>
    <div class="home-buttons">
        <a href="{% url 'phones:index' %}" class="btn btn-primary home-btn">
            Онлайн каталог
        </a>
        <a href="{% url 'shops:index' %}" class="btn btn-primary home-btn">
            Наши магазины
        </a>
    </div>
{% endblock %}
