{% extends 'base.html' %}

{% block content %}
    {% include 'phones/modal.html' %}

    <div class="row">
        <div class="col-sm-3">
            <img src="{{ phone.photo.url }}" alt="{{ phone.name }}"
                 class="phone-image">
            <p class="phone-price">{{ phone.price }} руб.</p>
            <a href="#" class="btn btn-primary" data-toggle="modal"
               data-target="#phone-modal">
                Оформить заявку
            </a>
        </div>
        <div class="col-sm-9">
            <h2>{{ phone.name }}</h2>
            <p class="phone-desc">{{ phone.desc }}</p>
        </div>
    </div>
{% endblock %}
