{% extends 'base.html' %}

{% load chunks %}

{% block content %}
    {% if phones %}
        {% for chunk in phones|chunks:3 %}
        <div class="row">
            {% for phone in chunk %}
                <div class="col-sm-4 phone-card">
                    <div class="col-sm-3">
                        <img src="{{ phone.photo.url }}" alt="{{ phone.name }}"
                             class="phone-card-image">
                    </div>
                    <div class="col-sm-9">
                        <h2>{{ phone.name }}</h2>
                        <p class="phone-card-desc">{{ phone.short_desc }}</p>
                        <a href="{% url 'phones:detail' phone.id %}"
                           class="btn btn-primary">
                            Показать
                        </a>
                        <p class="phone-card-price">{{ phone.price }} руб.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% else %}
        <p>Пока что нет ни одного телефона</p>
    {% endif %}
{% endblock %}
