<div class="modal fade" id="phone-modal" tabindex="-1" role="dialog"
     aria-labelledby="phone-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="phone-modal-label">
                    Оформление заказа: {{ phone.name }}
                </h4>
            </div>
            <div class="modal-body">
                <form id="phone-modal-form">
                    <input type="hidden" id="phone-modal-price"
                           value="{{ phone.price }}">
                    <div class="form-group">
                        <label for="phone-modal-name">Имя</label>
                        <input type="text" class="form-control"
                               id="phone-modal-name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone-modal-lastname">Фамилия</label>
                        <input type="text" class="form-control"
                               id="phone-modal-lastname" required>
                    </div>
                    <div class="form-group">
                        <label for="phone-modal-surname">Отчество</label>
                        <input type="text" class="form-control"
                               id="phone-modal-surname" required>
                    </div>
                    <div class="form-group">
                        <label for="phone-modal-phone">Телефон</label>
                        <input type="text" class="form-control"
                               id="phone-modal-phone" required>
                    </div>
                    <div class="form-group">
                        <label for="phone-modal-email">Email</label>
                        <input type="email" class="form-control"
                               id="phone-modal-email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone-modal-addr">Адрес доставки</label>
                        <input type="text" class="form-control"
                               id="phone-modal-addr" required>
                    </div>
                    <div class="form-group">
                        <label for="phone-modal-date">Дата доставки</label>
                        <input type="date" class="form-control"
                               id="phone-modal-date"
                               min="{{ date }}" value="{{ date }}" required>
                    </div>
                    <div class="form-group">
                        <label for="phone-modal-amount">Количество</label>
                        <input type="number" min="1" class="form-control"
                               id="phone-modal-amount" value="1" required>
                    </div>
                </form>
                <div class="alert alert-danger collapse"
                     id="phone-modal-error"></div>
                <div class="alert alert-info collapse"
                     id="phone-modal-info"></div>
            </div>
            <div class="modal-footer">
                <span>
                    Итого к оплате:
                    <span id="phone-modal-sum">{{ phone.price }}</span>
                    руб.
                </span>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Отменить
                </button>
                <button type="button" class="btn btn-primary"
                        id="phone-order">
                    Купить
                </button>
            </div>
        </div>
    </div>
</div>
