.home-banner {
    border: 2px solid grey;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

.home-banner p:first-child {
    color: red;
}

.home-banner p:nth-child(2) {
    color: orange;
}

.home-banner p:nth-child(3) {
    color: yellow;
}

.home-banner p:nth-child(4) {
    color: green;
    font-size: 32px;
    margin-top: 40px;
}

.home-slogan {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}

.home-buttons {
    margin: 0 auto;
    width: 260px;
}

.home-btn {
    padding: 10px;
}

.shop {
    min-height: 200px;
    margin-bottom: 15px;
}

.shop-desc {
    padding: 10px;
    border: 2px solid grey;
}

.shop-image {
    width: 100%;
    height: 200px;
}

.phone-card {
    min-height: 200px;
    margin-bottom: 20px;
}

.phone-card-image {
    width: 100%;
    height: 200px;
}

.phone-card-desc {
    border: 2px solid grey;
    padding: 5px;
}

.phone-card-price {
    display: inline-block;
    font-size: 20px;
}

.phone {
    min-height: 200px;
}

.phone-image {
    width: 100%;
    height: 200px;
}

.phone-desc {
    border: 2px solid grey;
    padding: 5px;
}

.phone-price {
    font-size: 20px;
}

#phone-modal input:invalid {
    border: 1px solid red;
}
