<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog"
     aria-labelledby="feedback-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="feedback-modal-label">
                    Напишите нам, и мы ответим на все интересующие вас вопросы
                    незамедлительно
                </h4>
            </div>
            <div class="modal-body">
                <textarea name="message" id="feedback-message" cols="30"
                          rows="10" placeholder="Введите ваше сообщение"
                          class="form-control"></textarea>
                <div class="alert alert-danger collapse"
                     id="feedback-message-error"></div>
                <div class="alert alert-info collapse"
                     id="feedback-message-info"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Отменить
                </button>
                <button type="button" class="btn btn-primary"
                        id="feedback-send">
                    Отправить
                </button>
            </div>
        </div>
    </div>
</div>
