{% extends 'base.html' %}

{% block content %}
    {% if shops %}
        {% for shop in shops %}
            <div class="row shop">
                <div class="col-sm-3">
                    <img src="{{ shop.photo.url }}" alt="{{ shop.name }}"
                         class="shop-image">
                </div>
                <div class="col-sm-9">
                    <h3>{{ shop.name }}</h3>
                    <p class="shop-desc">{{ shop.desc }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Пока что нет ни одного магазина</p>
    {% endif %}
{% endblock %}